<div class="container-advantage">
    <div class="detail">
        <div class="icon">
            <img src="assets/svg/logo-black.svg" alt="logo1"/> 
        </div>
        <h4>What is advantages of Fidbaq</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor
            incididunt ut labore et dolore magna aliqua.</p>
    </div>


    <div class="container-items">
        <div class="item">
            <div class="item-container-img">
                <img src="assets/svg/product.svg" alt="logo">
            </div>
            <div class="item-container-text">
                <p>Elevate yourCustomer score</p>
            </div>
        </div>
        <div class="item">
            <div class="item-container-img">
                <img src="assets/svg/product.svg" alt="logo">
            </div>
            <div class="item-container-text">
                <p>Track your consumption and purchases</p>
            </div>
        </div>
        <div class="item">
            <div class="item-container-img">
                <img src="assets/svg/product.svg" alt="logo">
            </div>
            <div class="item-container-text">
                <p>Data analysis segmentedby categories</p>
            </div>
        </div>
        <div class="item ">
            <div class="item-container-img">
                <img src="assets/svg/product.svg" alt="logo">
            </div>
            <div class="item-container-text">
                <p>Earn pointsand rewards</p>
            </div>
        </div>
        <div class="item ">
            <div class="item-container-img">
                <img src="assets/svg/product.svg" alt="logo">
            </div>
            <div class="item-container-text">
                <p>Get your consumption track record</p>
            </div>
        </div>
        <div class="item">
            <div class="item-container-img">
                <img src="assets/svg/product.svg" alt="logo">
            </div>
            <div class="item-container-text">
                <p>Scale up your customer interaction</p>
            </div>
        </div>
    </div>

    <app-carousel-images-dark
       [listImages]="listImages"
    ></app-carousel-images-dark>    
</div>

