
<div class="containre-companies">

     <div class="title">
        <h4>
          Trusted by the world’s largest and faster growing companies
        </h4>
     </div>
    <div class="container-icon-images">
        <div class="container-icon">
            <img src="assets/svg/companies/rubrik.svg" alt="logo1"/>
        </div>
        <div class="container-icon">
             <img src="assets/svg/companies/scale.svg" alt="logo2"/>
        </div>
        <div class="container-icon">
             <img src="assets/svg/companies/talkdesk.svg" alt="logo3"/>
        </div>
        <div class="container-icon">
          <img src="assets/svg/companies/rubrik.svg" alt="logo4"/>
        </div> 
        <div class="container-icon">
          <img src="assets/svg/companies/cohesity.svg" alt="logo5"/>
        </div>
        <div class="container-icon">
          <img src="assets/svg/companies/gitlab.svg" alt="logo6"/>
        </div>
        <div class="container-icon">
          <img src="assets/svg/companies/slack.svg" alt="logo7"/>
        </div>
    </div>

    <div class="companies-images-slider">
      <app-slider-companies></app-slider-companies>
    </div>

    <div class="container-features">
        <div class="container-imgs">
          <img src="assets/img/img-features.png" alt="logo">
        </div>
        <div class="container-text">
           <div class="container-icon-feature">
               <img src="assets/svg/logo-white.svg" alt="logo">
           </div> 
           
           <div class="container-text-title">
               <p class="text-title">
                    Join the Business and Individual Features 
                </p>     
           </div>
           <p class="text-subtitle">
               Join for free and earn points
           </p>
           <button type="button" class="btn">
               <p>Get Started</p>
           </button>
        </div>
    </div>


    <div class="container-description">
          <div class="description1"> 
               <div>
                    <p>Keep your record as a customer of all your purchases and for business</p>
                    <ul>
                         <li>Elevate your customer profile</li>
                         <li>Segment your categories of products</li>
                         <li>Data analysis</li>
                         <li>Get your fidbaq score</li>
                    </ul>
               </div>
               <div class="description-button">
                    <button type="button" class="btn"><span>Sign up</span></button>
               </div>
          </div>
          <div class="description2"> 
               <div>
                    <p>Register your sales and keep a historical of consumption by customer, keep your inventory</p>
                    <ul>
                         <li>Elevate your customer profile</li>
                         <li>Segment your categories of products</li>
                         <li>Data analysis</li>
                         <li>Get your fidbaq score</li>
                    </ul>
               </div>
               <div class="description-button">
                    <button type="button" class="btn"><span>Sign up</span></button>
               </div>
          </div>
    </div>
</div>

