<div class="container-customer">
    <div class="customer-description">
        <div class="icon-customers">
          <img src="assets/svg/logo-white.svg" alt="logo1"/> 
      </div>
      <h4 class="title">See what our customers think about Fidbaq</h4>
      <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="list-customers">
        <div class="customers">
            <p class="customer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="container-user">
                <div class="avatar"> <img src="assets/img/avatar.png" alt=""> </div>
                <div class="containter-text">
                    <h5>Sara Jhines</h5>
                    <p>UI Designer</p>
                </div>
            </div>
        </div>
        <div class="customers">
            <p class="customer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="container-user">
                <div class="avatar"> <img src="assets/img/avatar2.png" alt=""> </div>
                <div class="containter-text">
                    <h5>Sara Jhines</h5>
                    <p>Product Manager</p>
                </div>
            </div>
        </div>
        <div class="customers">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="container-user">
                <div class="avatar"> <img src="assets/img/avatar.png" alt=""> </div>
                <div class="containter-text">
                    <h5>Sara Jhines</h5>
                    <p>IT HR </p>
                </div>
            </div>
        </div>
    </div>      
</div>

<app-carousel-images-light
  [listImages]="listImages"
></app-carousel-images-light>  

<div class="container-see-more">
    <button type="button"> <span>see more testimonials</span></button>
</div>


