<div class="container-about">
    <div class="imagen">
        <img src="assets/img/about.png" alt="minium">
    </div>
    <div class="description">
        <div class="icon">
            <img src="assets/svg/logo-white.svg" alt="logo1"/> 
        </div>
        <p class="title-description">About Us</p>
        <p class="sub-description">Fidbaq is a platform that allows and enables customers, vendors and service providers to register, access, monitor, post and share all expenses, consumptions and sales in every good and service in each sector and industries through its website and apps. Sharing and monitoring what products and services are being acquired, demanded and consumed and analyzed in real-time market data and place trades and at the same time share it on with their audience thought our platform while getting score and keeping consumption data.Fidbaq is an online service that allows user, vendors and service providers register all the purchases, expenses, consumptions and sales via its website and mobile apps.</p>
        <button type="button" class="button-black"><span>Get Started</span></button>
    </div>
</div>




