
.container-our-apps{
    background-color: #181E45;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 73px;
}

.item-detail{
    max-width: 640px;
    width: 540px;
}


.title{
    color: #FFF;
    font-family: FM Bolyar Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; 
}

.description{
    padding-top: 30px;
    padding-bottom: 30px;

    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7200000286102295; 
}


.container-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
button{
    margin: 6px;
}


.item-imagen img{
    
    height: auto;
    max-width: 640px;
    width: 540px;
}



@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container-our-apps{
        gap: 30px;
    }
    .item-imagen img{
        width: 380px;
    }

    .item-detail{
        width: 380px;
    }

    .title{
        font-size: 30px;
        line-height: 38px;
    }

    .description{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .container-buttons{
        justify-content: space-between;
        gap: 0px;
    }

    .btn-app-white {
        width: 140px;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .btn-app-white img {
        width: 100px;
        height: auto;
    } 
}


@media only screen and (min-width: 768px) and (max-width: 991px) {

    .container-our-apps{
        gap: 30px;
    }

    .item-imagen img{
        width: 380px;
    }

    .item-detail{
        width: 60%;
        text-align: center;
    }

    .title{
        font-size: 30px;
        line-height: 38px;
    }

    .description{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    
    .container-buttons{
        justify-content: space-around;
        gap: 0px;
    }

    .btn-app-white {
        width: 140px;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .btn-app-white img {
        width: 100px;
        height: auto;
    } 
} 

@media only screen and (min-width: 577px) and (max-width: 795px) { 
    .container-our-apps{
        gap: 30px;
    }

    .item-imagen img{
        width: 380px;
    }

    .item-detail{
        width: 60%;
        text-align: center;
    }

    .title{
        font-size: 30px;
        line-height: 38px;
    }

    .description{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    
    .container-buttons{
        justify-content: space-between;
        gap: 0px;
    }

    .btn-app-white {
        width: 140px;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .btn-app-white img {
        width: 100px;
        height: auto;
    } 
}

@media screen and (max-width: 576px) {
    .container-our-apps{
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-left: 24px;
        margin-right: 24px;
        padding-right: 18px;
        padding-left: 18px;
        padding-top: 60px;
    }
    
    .item-detail{
        width: 100%;
    }

    .title{
        text-align: center;
        font-size: 34px;
        font-weight: 700;
        line-height: 44px; /* 129.412% */
    }

    .description{
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container-buttons{
        display: flex;
        justify-content: center;
        gap: 0px 12px;
    }
 
    .item-imagen img{
        width: 100%;
       height: auto;
    }

}


