<div class="portada">
    <div class="container-description">
        <p class="title-description">
            Fidbaq helps you supercharge your customer track record
        </p>
        <p class="sub-description">
            With fidbaq you can register your expenses, built your consumer track record, earn points and elevate your consumer score
        </p> 
        <h4 class="title-button">
            Get Fidbaq
        </h4>
        <div class="container-buttons">
            <button class="btn" type="button">
                <img src="assets/img/google-app.png" alt="logo-1">
            </button>
            <button class="btn" type="button">
                <img src="assets/img/apple-app.png" alt="logo-2">
            </button>
        </div>   
    </div>
    <div class="container-portada">
        <img src="assets/img/img-fidback.png" alt="logo-fidback">
    </div>
</div>


