<div class="container-network">
    <div class="logo-white">
        <img src="assets/img/logo.png" alt="Icono">
        <p class="text-logo-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="container-networks" >
        <div class="list-network">
            <p class="title-network">Menu</p>
            <div class="items-networks">
                <p>About us</p>
                <p>Privacy policies</p>
                <p>In the news</p>
                <p>Get your fidbaq score</p>
            </div>
        </div>
        <div class="list-network">
            <p class="title-network">Follow Us</p>
            <div class="items-networks">
                <p>Instagram</p>
                <p>Facebook</p>
                <p>Linkedin</p>
                <p>Pinterest</p>
                <p>TikTok</p>
            </div>
        </div>
    </div>
    
</div>
